/* Here goes all our CSS */

body {
    font-family: 'Judson', serif;
}


body, html {
    height: 100%;
}

i.fas {
    font-size: 3em;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/*BEST SELLERS SECTION*/
/* padding b/w rows */
.row-bestsellers,
.row-bestsellers > .column-bestsellers {
    padding: 8px;
}

/* three column default display */
.column-bestsellers {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* float every after a row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content-bestsellers {
    background-color: white;
    padding: 10px;
}

/* display on show */
.show {
    display: block;
}

.btn-bestsellers {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn-bestsellers:hover {
    background-color: #ddd;
}

.btn-bestsellers.active {
    background-color: #666;
    color: white;
}
/*END BEST SELLERS SECTION*/

.w-5 {
    display: inline-block; /* Used for pagination elements on product list page */
    width: 15px;
}


/* Product List Styles*/
.subcategory .icon-box {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .subcategory .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
  }
  
.subcategory .title a:hover {
    color: #3fbbc0;
  }
  .subcategory .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #3fbbc0;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .subcategory .title {
    line-height: 24px;
    font-size: 20px;
  }
  #subcategory {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color:grey;
  }
  
  .section-title {
    text-align: center;
    padding-top: 25px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

/* Cart Page */
.cart-items {
  width: 80%;
  margin: auto;
}

#cart-holder, #price-holder {
  border: 2px solid black;
  border-radius: 6px;
  margin: 30px 10px;
}

#price-holder {
  font-size: 20px;
  padding: 20px;
}
/* End cart page */